* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

::selection {background: rgba(33, 154, 81, 0.5);}
::-moz-selection {background: rgba(33, 154, 81, 0.5);}

.wrapper {
    width: 100%;
    max-width: 1920px;
    overflow: auto;
    background: $color-primary;

    @media screen and (max-width: 1261px) {
        width: 1260px;
    }
}

.center {
    width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.content {

}
