.contact {

    &__wrap {
        margin: 0 -10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__inner{
        padding: 0 10px;
        display: inline-flex;
        flex-flow: column wrap;
        position: relative;
    }

    &__text {
        @include font($font-main, 12px, $color-GodGray);

        &--bold16 {
            font-size: 16px;
            font-weight: 700;
        }

        &--semi-bold {
            font-weight: 600;
        }
    }

    &__iconWrap {
        position: absolute;
        left: 0;
        top: 4px;
        height: 25px;
        width: 25px;
        fill: $color-Eucalyptus;

        &--footer {
            top: 5px;
            height: 20px;
            width: 17px;
            fill: rgba(255, 255, 255, 0.4);

        }
    }

    &__icon {
        -o-object-fit: scale-down;
        object-fit: scale-down;
    }

    &--pl40 {
        padding-left: 40px;
    }

    &__list {
        flex: 0 0 60%;
    }

    &__item {
        position: relative;
        margin-bottom: 20px;
        padding-left: 50px;
        @include font($font-main, 16px, $color-primary);
        list-style: none;

        &:last-child {
            margin-bottom: 0;
        }

        &--b18 {
            font-size: 18px;
            font-weight: 600;
        }
    }



}