.payment {

    &__list {
        display: inline-block;
        list-style: none;
        font-size: 0;

    }

    &__link {
        display: inline-block;
        height: 40px;
        width: 70px;
        margin-right: 20px;
        overflow: hidden;
    }

}