.top {
    width: 100%;
    min-width: 1260px;
    background-color: rgb(68, 68, 68);

    &__inner {

    }

    &__left {
        display: block;
        margin-right: 180px;
    }

    &__right {

    }

}

