$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(51, 51, 51);
$color-hover: lightgrey;
$color-text: rgb(204, 204, 204);
$color-btn: rgb(255, 78, 80);
$color-DoveGray: rgb(102, 102, 102);
$color-GodGray: #1e1e1e;
$color-Eucalyptus: rgb(33, 154, 81);
$color-Tundora : rgb(68, 68, 68);
$color-MineShaft : rgb(43, 43, 43);
$color-Seashell : rgb(241, 241, 241);
$color-Black : rgb(0, 0, 0);
$color-Silver : rgb(193, 193, 193);

$font-main: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-size--regular: 14px;

$screen-xs: 0;
$screen-sm: 479px;
$screen-md: 767px;
$screen-lg: 959px;
//$screen-xl: 1200px;

$margin-md: 40px;
$margin-lg: 100px;